<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PersistenciaDestino" value="SqlServerEscuela" />
  </appSettings>
  <connectionStrings>
    <add name="SqlServerEscuela"
         connectionString="Data source=DESKTOP-KHFF7V3; Initial Catalog=School; Integrated Security=true;" />
	  <add name="PostgresEscuela"
         connectionString="Host = localhost;Database = School;Username = postgres;Password = 1234" />
	  <add name="memoriaEscuela"
         connectionString="databaseName: Memoria" />
  </connectionStrings>
</configuration>